.sliderBlock {
  display: flex;
  position: relative;
  width: 100%;
  height: 75dvh;
  background-color: rgb(170, 170, 170);
}

.slider_image {
  transition: .5s;
  width: inherit;
  position: absolute;
  height: inherit;
  animation: changeBg;
  animation-duration: 36s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  background-image: url("/images/children_1.jpg");

  animation-timing-function: cubic-bezier(0.25, 0.1, 0, 1.33);
  background-color: rgb(131, 131, 131);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

@media (max-width: 480px) {
  .sliderBlock {
    display: flex;
    position: relative;
    width: 100%;
    height: 30dvh;
    background-color: rgb(170, 170, 170);
  }
}

@keyframes changeBg {
  0%{
        
    background-image: url("/images/children_1.jpg");
  }
20%{
    background-image: url(/images/kids.jpg);


  }
40%{
    background-image: url("/images/children_2.jpg");

    
  }
  60%{
    background-image: url("/images/children_3.jpg");


  }
  80%{
    background-image: url("/images/4.jpeg");


  }
  100%{
    background-image: url("/images/5.jpg");
  }
}

.slide {
  display: flex;
  height: 70vh;
  width: 100%;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  font-size: 24px;
  position: relative;
}
.slide_image{
  width: 100%;
  object-fit: cover;
}


@media (max-width: 480px) {
  .slide {
    height: 30vh;
  }
}